.css-19qnlrw-MuiFormLabel-root-MuiInputLabel-root{
    color: white !important;
}   

.css-28116y-MuiAutocomplete-root{
    border-color: white !important;
}
.css-1ll44ll-MuiOutlinedInput-notchedOutline{
    border-color: white !important;

}
.css-113d811-MuiFormLabel-root-MuiInputLabel-root.Mui-focused{
    color: white !important;

}

.css-1umw9bq-MuiSvgIcon-root{
    color: white !important;
}

.css-1dune0f-MuiInputBase-input-MuiOutlinedInput-input{
    color: white !important;

}